* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "EB Garamond", serif;
  /* background-color: rgb(245, 253, 253); */
  background-color: rgb(205, 238, 249);
}
/*open burger menu after click - (.navbar became navbar.open, .burger become burger.active) */
.open {
  display: flex !important;
}

.name {
  background-color: rgba(184, 222, 247, 0.776);
  justify-items: center;
  font-size: 1.2em;
  padding: 0.5em;
  margin-top: 0;
}

.dark-theme .name {
  background-color: rgb(247, 250, 252);
}

.dark-theme h1 {
  color: rgb(2, 119, 252);
}

/* #Navbar {
  justify-content: center;
  align-items: center;
} */

.navbar {
  background-color: rgb(62, 176, 252);
  border: 2px solid darkblue;
  /* border-radius: 0.5em; */
}

.burger {
  background-color: rgb(62, 176, 252);
}

.dark-theme .burger {
  background-color: #0e3568;
}

/*list of menu in navbar*/
.navbar ul {
  display: flex;
  color: rgb(7, 3, 253);
  list-style: none;
  justify-content: space-between;
}

.navbar li {
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  padding: 0.1em 0.2em;
}

.navbar a:hover {
  color: rgb(6, 6, 63);
  border-radius: 0.5em;
  border-color: darkblue;
  border: 1.6px solid transparent darkblue;
  box-shadow: 0.1em 0.2em 0.2em 0.2em #0e3568;
}

/*dark mode button*/
.theme-toggle-item button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  /* font-size: 18px; */
  font-size: 0.8em;
  padding: 5px;
  /* font-family: 'Montserrat', sans-serif; */
  align-items: center;
  gap: 8px;
}

.theme-toggle-item button:hover {
  color: gold;
  /* border-radius: 0.5em;
    border-color: darkblue;
    border: 1.6px solid transparent darkblue;
    box-shadow: 0.1em 0.2em 0.2em 0.2em #0e3568; */
}

.dark-theme .bodyAll {
  background: rgb(50 69 130 / 78%);
}

.dark-theme .navbar {
  background: #0e3568;
  border: 2px solid rgb(243, 243, 252);
}

.dark-theme .navbar a {
  color: azure;
}

.dark-theme .navbar a:hover {
  /* color: rgb(6, 6, 63); */
  /* border-radius: 0.5em; */
  border: 1.6px solid transparent rgb(241, 241, 250);
  box-shadow: 0.1em 0.2em 0.2em 0.2em #c3c8e0;
}

.dark-theme .aboutme {
  background: #0e3568;
  box-shadow: 0 0 0.8em 0.3em #c3c8e0;
}

/* .dark-theme .myPhoto {
    box-shadow: 0.6em 0.5em 0.6em #c3c8e0;
}

.dark-theme .myPhoto:hover {
    box-shadow: 0.6em 0.5em 0.6em #dedfe0;
} */

.dark-theme #Education {
  background: #0e3568;
  box-shadow: 0 0 0.8em 0.3em #c3c8e0;
}

.dark-theme #Experience {
  background: #0e3568;
  box-shadow: 0 0 0.8em 0.3em #c3c8e0;
}

.dark-theme #Skills {
  background: #0e3568;
  box-shadow: 0 0 0.8em 0.3em #c3c8e0;
}

.dark-theme #Projects {
  background: #0e3568;
  box-shadow: 0 0 0.8em 0.3em #c3c8e0;
}

.dark-theme #Connect {
  background: #0e3568;
  box-shadow: 0 0 0.8em 0.3em #c3c8e0;
}

.dark-theme #messagesForm,
#messages {
  background: #0e3568;
  box-shadow: 0 0 0.8em 0.3em #c3c8e0;
}

.dark-theme p {
  color: #ebdcf4;
}

.dark-theme h2 {
  color: whitesmoke;
}

.dark-theme h3 {
  color: rgb(2, 194, 252);
  text-shadow: 0.08em 0.02em rgb(247, 247, 250);
}

.dark-theme span {
  color: rgb(0, 195, 255);
}

/* .darkButton {
  position: fixed;
  background-color:aqua;
  border: 2.2px solid transparent darkblue;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-left: 95%;
  margin-top: 4%;
} */

h1 {
  color: rgb(53, 143, 245);
  text-align: center;
  text-shadow: 0.05em 0.03em #2e2e6b;
  font-style: italic;
}

h2 {
  color: darkblue;
  text-align: center;
}

h3 {
  color: rgb(36, 26, 100);
  text-shadow: 0.09em 0.06em rgb(179, 179, 180);
}

span {
  color: blue;
  font-size: larger;
}

p {
  color: rgb(10, 10, 77);
}

#About,
#Education,
#Experience,
#Skills,
#Projects,
#Connect,
#messagesForm,
#messages {
  margin: 1.5em 3em 1.5em 3em;
  border-radius: 0.5em;
}

.aboutme,
#Education,
#Experience,
#Skills,
#Projects,
#Connect,
#messagesForm,
#messages {
  padding: 3em 3.5em;
  box-shadow: 0 0 0.8em 0.3em #b6b5b5;
  /* box-shadow: 0.4em 0.4em 0.4em #b6b5b5; */
}
/*section togather text and my photo*/
#About {
  gap: 1.5em;
  align-items: center;
}
/*section only text About me*/
.aboutme {
  background-color: rgb(202, 225, 249);
  border-radius: 0.5em;
  text-indent: 2em; /*indentation in the test first lene*/
}

.myphoto {
  border-radius: 0.5em;
  box-shadow: 0.6em 0.5em 0.6em #8f8f8f;
  width: 10em;
  height: 13em;
}

.myphoto:hover {
  box-shadow: 0.6em 0.5em 0.6em #565656;
  transform: translateY(-5px);
}

#Education {
  background-color: rgb(194, 248, 248);
}
/*.edu-name: greed of all education, column = year and description*/
.edu-name,
.exp-date {
  display: grid;
  align-items: center;
}

#Experience {
  background-color: rgb(152, 234, 250);
}
/*all experiences, years and descriptions togather*/
.exp-container {
  color: rgb(34, 30, 75);
}
/*greed of all experiences, column = year and description*/
.exp-name {
  display: flex;
  flex-direction: column;
  grid-template-columns: 6em 1fr;
  gap: 0.3em;
}

#Skills {
  background-color: #ffc8dd;
  text-align: center;
  padding: 2em;
}

/*greed of all skills*/
.allSkills {
  list-style: none;
  justify-content: space-around;
  display: grid;
  grid-template-columns: auto auto auto;
  flex-direction: column-reverse;
}
/*each of the skill*/
.allSkills li {
  /* background-color: #CDB4DB; */
  background-color: #ebdcf4;
  border-radius: 0.5em;
  border: 2px solid #bdb4b4;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.dark-theme .allSkills li {
  /* background-color: #ebdcf4; */
  border: 2px solid whitesmoke;
  background-color: rgb(160, 194, 238);
}

#Projects {
  /* text-align: center; */
  background-color: rgb(186, 197, 235);
}

#Projects a {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0.5em;
  background-color: rgb(150, 168, 231);
  text-decoration: none;
  color: blue;
  /* font-weight: bold; */
  margin-bottom: 1.5em;      /*indentation bottom from the next name of project */
}

#Projects a:hover {
  /* color: rgb(30, 138, 232); */
  color: rgb(30, 138, 232);
  transform: translateY(-3px);
}

#Connect {
  text-align: center;
  background-color: rgb(160, 249, 224);
}
/*group of all img and links, section connect*/
.connect-icons {
  display: flex;
  justify-content: center;
}
/*links for all, section connect, textlinks */
.link {
  color: rgb(11, 11, 98);
  font-weight: bold;
  /* text-decoration: none; */
}

.dark-theme .link {
  color: rgb(207, 207, 241);
}

.link:hover {
  color: rgb(30, 138, 232);
}
/*all img icons*/
.fa {
  font-size: 1.5em;
  margin-right: 0.5em;
}

.fa-github {
  color: black;
}

.dark-theme .fa-github {
  color: azure;
}
.dark-theme .fa-linkedin {
  color: azure;
}
.dark-theme .fa-envelope {
  color: azure;
}

/*icon github*/
.fa-github:hover {
  transform: translateY(-3px);
  color: rgb(51, 164, 250);
}
/*icon linkedin*/
.fa-linkedin:hover {
  transform: translateY(-3px);
  color: rgb(51, 164, 250);
}
/*icon envelop*/
.fa-envelope:hover {
  transform: translateY(-3px);
  color: rgb(51, 164, 250);
}
/*forms for input and for output messages*/
#messagesForm,
#messages {
  text-align: center;
  background-color: rgb(234, 215, 243);
}

/* .dark-theme #messagesForm {
  background-color: #0e3568;;
} */

.dark-theme #messages {
  background-color: #0e3568;
  box-shadow: 0 0 0.8em 0.3em #c3c8e0;
}

.but_submit {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.but_submit:hover {
  transform: translateY(-2px);
  background-color: #8b8bdd;
}

.dark-theme .but_submit {
  background-color: rgb(51, 164, 250);
  border-color: rgb(156, 210, 252);
}

.dark-theme .but_submit:hover {
  background-color: #e4e4fd;
}

#removeB,
#editB {
  background-color: rgb(252, 237, 248);
  border-radius: 0.4em;
  border: 2px solid rgb(206, 84, 175);
  font-family: Georgia, "Times New Roman", Times, serif;
}

#removeB:hover {
  background-color: rgb(253, 128, 222);
  transform: translateY(-1px);
}
#editB:hover {
  background-color: rgb(252, 124, 220);
  transform: translateY(-1px);
}
/*new message section , link without underscores*/
#newMessage {
  list-style: none;
}
/*text of entered messages*/
#newMessage span {
  color: rgb(29, 29, 48);
}

.dark-theme #newMessage span {
  color: rgb(207, 207, 241);
}

/*list of messages, name link, click on which opens the mail*/
#newMessage a {
  font-weight: bold;
}
/* section Leave messages*/
.input {
  border-radius: 0.3em;
  margin-left: 1em;
}

/*user name, email, message */
.dark-theme .label {
  color: rgb(207, 207, 241);
}

footer {
  background-color: rgba(184, 222, 247, 0.776);
  justify-items: center;
  font-size: 1.2em;
  margin-top: 1em;
  padding: 1em;
}
.dark-theme footer {
  background-color: rgb(30, 138, 232);
}