/* for screens up to 480px */
@media(max-width: 480px) {
    body {
        background-color: rgb(205, 238, 249);
    }
    .myphoto {
        display: none;
    }
    h1 {
        font-size: 1em;  
    }
    h2 {
        font-size: 1.1em;
    }
    h3 {
        font-size: 1em;
    }
    p {
        font-size: 0.9em;  
    }
    .allSkills {
        gap: 0.5em;
        grid-template-columns: auto auto;
    }

    .allSkills li {
        box-shadow: 0.4em 0.3em 0.4em #565656;
        font-size: 0.8em;
        padding: 0.4em;
        margin: 0.3em;
    }
    .connect-icons {
        gap: 2em;
        font-size: 0.8em;
    }
}
/* small, mobile, (481px-768px) */
@media (min-width: 481px) {
.navbar {
    font-size: 1.2em;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

.edu-name,
.exp-date {
    grid-template-columns: 6em 1fr;
    padding-bottom: 1em;
}

#About {
    display: flex;
    flex-direction: column-reverse;
}

.myphoto {
    width: 10em;
    height: 13em;
    justify-content: center;
}

.allSkills {
    gap: 0.9em;
}

.allSkills li {
    box-shadow: 0.5em 0.4em 0.5em #565656;
    font-size: 1em;
    padding: 0.3em;
    margin: 0.2em;
}

.link {
    display: none;
}

.connect-icons {
    gap: 5em;
}
}
/* tablet/laptop, (769px-1024px) */
@media (min-width: 769px) {
.navbar {
    font-size: 1.4em;
    font-weight: bold;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.1em;
}

.edu-name,
.exp-date {
    grid-template-columns: 8em 1fr;
    padding-bottom: 1.2em;
}

#About {
    display: flex;
    flex-direction: column-reverse;
}

.myphoto {
    width: 12em;
    height: 15em;
    justify-content: center;
}

.allSkills {
    gap: 1em;
}

.allSkills li {
    box-shadow: 0.5em 0.5em 0.5em #565656;
    font-size: 1.1em;
    padding: 0.4em;
    margin: 0.3em;
}

.link {
    display: inline;
}

.connect-icons {
    gap: 3em;
    font-size: 1.1em;
}
}
/* desctop, (>1025px) */
@media (min-width: 1025px) {
.navbar {
    font-size: 1.5em;
    font-weight: bold;
}

#About {
    display: flex;
    flex-direction: row;
}

.myphoto {
    margin-top: 2em;
    width: 12em;
    height: 15em;
    text-align: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.3em;
    text-shadow: 0.09em 0.06em rgb(179, 179, 180);
}

.edu-name,
.exp-date {
    grid-template-columns: 10em 1fr;
    padding-bottom: 1.5em;
}

.allSkills {
    gap: 1.2em;
}

.allSkills li {
    box-shadow: 0.6em 0.5em 0.6em #565656;
    font-size: 1.2em;
    padding: 0.5em;
    margin: 0.3em;
}

.link {
    display: inline;
}

.connect-icons {
    gap: 7em;
    font-size: 1.2em;
}

}
